@media (max-width: 768px){
    .cabecalho .logo{
        max-width:  110px;
    }


.selecao-de-personagem{
    flex-direction: column-reverse;
    max-width: 70%;
    margin: 0 auto;

}

.selecao-de-personagem .personagens{
    margin-top: 37px;
}

.selecao-de-personagem .personagens .titulo{
    font-size: 15px
}

.selecao-de-personagem .lista-de-personagem{
    gap: 9px;
}

.selecao-de-personagem .personagem img{
    width: 100px;
}

.personagens-selecionados .personagem-grande{
    padding-top: 15px;
    height: 350px;
}

.personagens-selecionados .descricao-personagem{
    width: 100%;
    font-size: 14px;
    margin: 20px auto;
}
}